---
import { content } from "@constants/content";
---

<div class="mx-auto flex flex-col items-center sticky top-0 backdrop-filter backdrop-blur-lg bg-opacity-30 z-50">
  <div class="w-full bg-slate-600 flex justify-center">
    <section class="py-3 md:py-5 w-full lg:w-5/6 flex justify-between px-5">
      <div class="flex gap-2">
        <p class="text-xs md:text-sm mt-2 md:mt-1 text-white">
          {content.opening_hours}
        </p>
      </div>

      <div class="flex flex-row items-center gap-3 text-white">
        <a href={content.email}>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 h-4 md:w-6 md:h-6"
          >
            <path
              d="M1.5 8.67v8.58a3 3 0 003 3h15a3 3 0 003-3V8.67l-8.928 5.493a3 3 0 01-3.144 0L1.5 8.67z"
            ></path>
            <path
              d="M22.5 6.908V6.75a3 3 0 00-3-3h-15a3 3 0 00-3 3v.158l9.714 5.978a1.5 1.5 0 001.572 0L22.5 6.908z"
            ></path>
          </svg>
        </a>

        <a href={content.phone}>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 h-4 md:w-6 md:h-6"
          >
            <path
              fill-rule="evenodd"
              d="M1.5 4.5a3 3 0 013-3h1.372c.86 0 1.61.586 1.819 1.42l1.105 4.423a1.875 1.875 0 01-.694 1.955l-1.293.97c-.135.101-.164.249-.126.352a11.285 11.285 0 006.697 6.697c.103.038.25.009.352-.126l.97-1.293a1.875 1.875 0 011.955-.694l4.423 1.105c.834.209 1.42.959 1.42 1.82V19.5a3 3 0 01-3 3h-2.25C8.552 22.5 1.5 15.448 1.5 6.75V4.5z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </a>
        <a href={content.whatsapp}>
          <svg
            class="w-4 h-4 md:w-6 md:h-6"
            viewBox="0 0 24 24"
            stroke="currentColor"
            fill="white"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>WhatsApp icon</title>
            <path
              d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893a11.821 11.821 0 00-3.48-8.413Z"
            ></path>
          </svg>
        </a>
      </div>
    </section>
  </div>
  <div class="w-full flex justify-center ">
    <header
      class="py-4 px-5 md:py-5 w-full lg:w-5/6 flex flex-row justify-between "
    >
      <img
        src="./logo.svg"
        alt="Logo"
        class="w-10 md:w10"
      />

      <!-- HEADER STARTS -->
      <div class="hidden md:flex">
        <a
          href={content.links.home}
          class="px-4 py-2 hover:text-brand-500 rounded-md"
        >
          {content.header.home}
        </a>
        <a
          href={content.links.about}
          class="px-4 py-2 hover:text-brand-500 rounded-md"
        >
          {content.header.about}
        </a>
        <a
          href={content.links.services}
          class="px-4 py-2 hover:text-brand-500 rounded-md"
        >
          {content.header.service}
        </a>
        <a
          href={content.links.contact}
          class="px-4 py-2 hover:text-brand-500 rounded-md"
        >
          {content.header.contact}
        </a>
      </div>

      <div class="hidden md:flex">
        <a
          download
          href={content.download_link}
          class="px-4 py-2 bg-blue-500 rounded-md text-white"
        >
          {content.book_an_appointment}
        </a>
      </div>
      <!-- HEADERS ENDS -->

      <!-- SMALL SCREEN -->
      <div class="md:hidden">
        <div id="burger-menu">
          <span></span>
        </div>
      </div>
      <!-- SMALL SCREEN -->
    </header>
  </div>

  <div id="menu" class="md:hidden">
    <ul>
      <li><a href={content.links.home}>Home</a></li>
      <li><a href={content.links.about}>About Us</a></li>
      <li><a href={content.links.services}>Services</a></li>
      <li><a href={content.links.contact}>Contact Us</a></li>
    </ul>

    <div class="mb-3">
      <a
        download
        href={content.download_link}
        class="px-4 py-2 bg-blue-500 rounded-md text-white"
      >
        {content.book_an_appointment}
      </a>
    </div>
  </div>

  
</div>

<style>
  #burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    overflow: visible;
    position: relative;
    z-index: 2;
  }
  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: black;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
  }

  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
  }

  #menu {
    display: none;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }

  #menu.overlay {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    /* hide from medium to large screen */
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  #menu li {
    list-style: none;
  }
  #menu a {
    display: block;
    margin-bottom: 5px;

    text-decoration: none;
  }
</style>

<script>
  var burgerMenu = document.getElementById("burger-menu");
  var overlay = document.getElementById("menu");
  if (burgerMenu) {
    burgerMenu.addEventListener("click", function () {
      this.classList.toggle("close");
      overlay && overlay.classList.toggle("overlay");
    });
  }
</script>
